.body {
  background: #f9f9fa;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_image {
  position: absolute;
  width: 111px;
  height: 74px;
}

.headline {
  display: flex;
  position: relative;
  width: 380px;
  height: 336px;
  left: 16px;
  top: 10px;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.ic_image {
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
  justify-content: flex-end;
  margin-left: auto;
  background-image: url("src/img/svg/ic_menu.svg");
  border: 0;
}

.name {
  width: 360px;
  height: 100px;
  left: 16px;
  top: 104px;
  font-family: Playfair Display, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 100%;
  color: #1a2236;
}

.intro {
  width: 360px;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.colaboration_button {
  position: relative;
  left: 5%;
  right: 5%;
  bottom: 91.04%;
  align-self: center;
  align-content: center;
  width: 360px;
}

.colaboration_button_rectangle {
  position: absolute;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
  color: hsl(0, 0%, 100%);
}

.button_text_style {
  width: auto;
  height: 26.47px;
  left: 58px;
  top: 402px;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.bottom_geometry {
  position: absolute;
  width: 380px;
  height: 160px;
  top: 492px;
  background-image: url("src/img/svg/image_geometry_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}

.colaboration_button_rectangle:hover:enabled {
  border: 1px solid #1a2236;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: #1a2236;
}

.colaboration_button_rectangle:active:enabled {
  border: 2px solid #1a2236;
  box-sizing: border-box;
  color: #1a2236;
  background-color: hsl(0, 0%, 100%);
}

.about_section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1217px;
  left: 15px;
  top: 430px;
  padding: 5px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.about_title {
  width: 360px;
  font-family: Playfair Display, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  position: relative;
}

.about_paragraph {
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  width: 360px;
}

.resume_button {
  display: flex;
  width: 380px;
  height: 50px;
  left: 16px;
  background: #1a2236;
  align-items: center;
  justify-content: center;
  border: none;
  color: hsl(0, 0%, 100%);
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-self: center;
}

.resume_button:hover:enabled {
  border: 1px solid #1a2236;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: #1a2236;
}

.resume_button:active:enabled {
  border: 1px solid #1a2236;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: #1a2236;
}

.download_icon {
  width: 27px;
  height: 24px;
  left: 201px;
  margin-left: 10px;
  background-image: url("src/img/svg/ic_download.svg");
}

.about_card,
.my_langauges_card,
.my_frameworks_card,
.my_skills_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 380px;
  height: 289px;
  margin-top: 25px;
  padding-bottom: 15px;
  align-self: center;
}

.my_langauges_card {
  background: #1c528a;
  background-image: url("src/img/svg/ic_languages_mob-1.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-x: right;
}

.my_frameworks_card {
  background: #e2505c;
  background-image: url("src/img/svg/frameworks.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-x: right;
}

.my_skills_card {
  background: #febf52;
  background-image: url("src/img/svg/ic_skills.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-x: right;
}

.langauge_label {
  width: 116px;
  height: 30px;
  left: 66px;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: hsl(0, 0%, 100%);
  margin-left: 16px;
}

.my_langaues_text_style {
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: hsl(0, 0%, 100%);
}

.project_section {
  position: relative;
  display: grid;
  top: 400px;
  align-self: center;
  margin-left: 15px;
  justify-self: center;
  justify-content: center;
}

.projects_label {
  width: 281px;
  height: 50px;
  font-family: Playfair Display, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.project_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 342px;
  left: 0;
  align-self: center;
  justify-self: center;
}

.project_image {
  width: 380px;
  height: 186px;
  left: 0;
  background: url("src/img/svg/project_image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.project_image_1 {
  width: 380px;
  height: 186px;
  left: 0;
  background: url("src/img/svg/project_image_1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.project_image_2 {
  width: 380px;
  height: 186px;
  left: 0;
  background: url("src/img/svg/project_image_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.project_image_3 {
  width: 380px;
  height: 186px;
  left: 0;
  background: url("src/img/svg/project_image_3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.project_image_4 {
  width: 380px;
  height: 186px;
  left: 0;
  background: url("src/img/svg/project_image_4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.project_image_5 {
  width: 380px;
  height: 186px;
  left: 0;
  background: url("src/img/svg/project_image_5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.project_details_card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 156px;
  left: 0;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.project_name {
  width: 264px;
  height: 16px;
  left: 20px;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: hsl(0, 0%, 100%);
  margin-left: 25px;
}

.see_project {
  display: flex;
  align-content: space-around;
  align-items: center;
  width: 178px;
  height: 44px;
  left: 20px;
  margin-left: 25px;
  margin-top: 20px;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: #1a2236;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.see_project:hover:enabled {
  border: 1px solid #1a2236;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: #1a2236;
}

.see_project:active:enabled {
  border: 1px solid #1a2236;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: #1a2236;
}

.arrow_forward {
  width: 20.57px;
  height: 15.35px;
  left: 166px;
  margin-left: 10px;
  background: url("src/img/svg/arrow_forward.svg");
}

.project_tecs_container {
  display: flex;
  align-content: flex-start;
  margin-left: 25px;
  width: 320px;
  align-items: center;
  height: 20px;
}

.tech_card {
  width: 78px;
  height: 30px;
  background: #98dede;
  margin-right: 15px;
  display: inline-block;
}

.tech_text {
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  text-align: center;
  color: #1a2236;
  margin-left: 2px;
  margin-right: 2px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li {
  float: left;
  align-items: center;
}

.contact_section {
  display: flex;
  position: relative;
  top: 450px;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.geometry_image {
  background: url("src/img/svg/image_geometry_1.svg");
  height: 75px;
  width: 112px;
  background-repeat: no-repeat;
  align-self: flex-start;
}

.input_container,
.message_container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 52px;
  left: 16px;
  background: hsl(0, 0%, 100%);
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  margin-bottom: 15px;
}

.input_label {
  width: 55px;
  height: 15px;
  left: 32px;
  top: 4404px;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
}

.input_style,
.message_area {
  height: 21px;
  left: 32px;
  top: 4423px;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  border: none;
  padding-top: 2px;
}

.input_style:focus,
.message_area:focus {
  outline: none;
}

.message_container {
  width: 360px;
  height: 112px;
}

.message_area {
  height: 5em;
}

.collaboration_form_button {
  width: 360px;
  height: 44px;
  left: 16px;
  top: 4652px;
  background: #1a2236;
  border: none;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-bottom: 25px;
}

.collaboration_form_button:hover:enabled {
  border: 1px solid #1a2236;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: #1a2236;
}

.collaboration_form_button:active:enabled {
  border: 1px solid #1a2236;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  color: #1a2236;
}

.social_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  left: 0;
  background: #1a2236;
}

.social_resume_text {
  width: 127px;
  height: 24px;
  left: 16px;
  top: 4792px;
  font-family: Poppins, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
}

.social_resume_button_icon {
  background: url("src/img/svg/open_icon.svg");
  width: 22px;
  height: 22px;
  left: 158px;
  border: none;
}

.social_button_container {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px;
  width: 360px;
  margin-left: 28px;
}

.social_cards_container {
  width: 360px;
}

.social_icon,
.stackoverflow,
.github,
.twitter,
.linkedin,
.medium,
.angelist {
  width: 24px;
  height: 24px;
  left: 69px;
}

.stackoverflow {
  background: url("src/img/svg/ic_stackoverflow.svg");
  background-repeat: no-repeat;
}

.github {
  background: url("src/img/svg/ic_github.svg");
  background-repeat: no-repeat;
}

.twitter {
  background: url("src/img/svg/ic_twitter.svg");
  background-repeat: no-repeat;
}

.linkedin {
  background: url("src/img/svg/ic_linkedin.svg");
  background-repeat: no-repeat;
}

.medium {
  background: url("src/img/svg/ic_medium.svg");
  background-repeat: no-repeat;
}

.angelist {
  background: url("src/img/svg/ic_angellist.svg");
  background-repeat: no-repeat;
}

.social_icon_list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.social_item {
  display: block;
  flex: 0 1 auto;
}
